.header{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(0, 98, 56, 0.5);
  border-left: none;
  border-right: none;
  border-top: none;
  background-color: aqua;
}

.image-container{
display:flex;
justify-content: center;

}

.images-container img{
  margin-left: 10px;
  margin-right: 10px;
  width:30%;

}